@use "../../abstracts" as *;

.cocktail-card {
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: space(small);
  gap: space(small) !important;
  overflow: hidden;

  transition: scale 0.2s;
  &:hover {
    transition: scale 0.5s;
    scale: 1.05;
  }
}

.cocktail-header {
  display: flex !important;
  flex-direction: column !important;
  gap: space(medium);
  padding-inline: 0 !important;

  .cocktail-image {
    position: relative;

    background-color: color-mix(in hsl, #adadad 10%, #0000);

    .loader {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    .favourite-box {
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 0;
      background-color: var(--primary-app);
      padding: space(small);
      border-radius: 0 0 space(small) 0;

      --icon-color: white;

      svg {
        width: 1.75rem;
        aspect-ratio: 1 / 1;
      }
    }
  }

  .card-title {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: space(small);
    padding-inline: space(medium) !important;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: start;
      font-size: 1.25rem;
      gap: space(small);
      width: 100%;
      min-height: 2rem;
    }
  }

  .card-description {
    display: flex;
    gap: space(x-small);
    flex-wrap: wrap;
  }
}

.card-content {
  padding-inline: space(medium) !important;
  font-size: 1rem !important;

  height: 100%;

  overflow: hidden;
  position: relative;
  display: block;

  &::after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(transparent 0%, white 85%);
  }
}

.cocktail-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: space(medium) space(medium) 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sheet-content {
  display: flex;
  justify-content: space-between;
  padding-inline: space(medium);
  padding-block: space(large);

  height: 100%;
}

.sheet-body {
  display: flex;
  flex-direction: column;
  gap: space(small);
  align-items: center;
  overflow-y: auto;

  flex: 1;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
  }

  & > * {
    width: 100%;
  }
}

.sheet-header {
  display: flex;
  flex-direction: column;

  padding: 0;

  img {
    border-radius: space(medium);
  }
}

.sheet-title {
  font-size: 1.5rem;
}

.favourite-button {
  --icon-color: var(--primary-app);
  color: var(--primary-app);
  border-color: color-mix(in hsl, var(--primary-app) 50%, #0000);
  &.active {
    --icon-color: white;
    color: white;
    background-color: var(--primary-app);

    &:hover {
      background-color: color-mix(in hsl, var(--primary-app) 80%, #0000);
      scale: 1.05;
    }
  }

  &:hover {
    scale: 1.05;
  }
}
