@use "../../abstracts" as *;

.cocktails-grid {
  display: grid;
  gap: space(large);

  width: 100%;
  flex: 1;

  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
}

.cocktails-header {
  display: flex;
  align-items: center;
  width: 100%;

  @include xs {
    justify-content: end;
  }

  @include md {
    justify-content: space-between;
  }

  .cocktails-pagination {
    @include xs {
      display: none;
    }

    @include md {
      display: block;
    }
  }
}

.cocktails-container {
  display: flex;
  flex-direction: column;
  gap: space(large);
  margin-block: space(large);

  align-items: center;

  flex: 1;

  @include xs {
    padding-inline: 1rem;
  }

  @include sm {
    padding-inline: 2rem;
  }

  @include md {
    padding-inline: 3rem;
  }

  @include lg {
    padding-inline: 5rem;
  }

  @include xl {
    padding-inline: 10rem;
  }
}
